.mainSignUpPage{
    display: flex;
    color: var(--white);
    padding-top: 4rem;
    margin-left: 4rem;
}
.coffeeCombo{
    max-width: 40%;
}
.welcomeSmartMenu{
    font-size:2.5rem;
    font-weight:700;
    display:flex;
    flex-direction:column;
    margin-bottom:3rem;
    font-family: var(--headings);
}
.textSide{
    padding-top: 2rem;
}
.manageRestaurant{
    color: #BFBFBF;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    font-family: var(--body);
}
.icons{
    width: 3rem;
}
.card1,.card2,.card3{
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    font-family: var(--body);
}
.headings{
    font-weight: 900;
    font-size: var(--size24);
}
.paragraph{
    color: #BFBFBF;
    font-size: var(--size24);
}