.info{
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 4rem;
}
.quote{
    color:var(--green);
    font-size: 1.2rem;
    font-weight: 100;
}
.text{
    font-weight: 600;
    margin: 2rem 0rem;
    margin-left: 3rem;
    font-size: var(--size24);
}
.boxes{
    display: flex;
    gap: 0.7rem;
    font-size: 1.3rem;
    margin: 1.5rem 0rem;
    margin-left: 3rem;
}
.grpText{
    display: flex;
    flex-direction: column;
}
.paragraph{
    font-size: 1rem;
    color: #BFBFBF;
}
.heading{
    font-size: 1.1rem;
}
.leftside{
    display: flex;
    gap: 0.1rem;
}
.apple{
    width: 25rem;
}
.mainLoginPage{
    display: flex;

}